@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: rgb(3, 181, 252);
}

@layer base {
  html {
    font-family: var(--font-display);
    -webkit-font-smoothing: antialiased;
  }
  body {
    background-color: #fcfbfc;
    color: #1f2937;
    overflow-x: hidden;
  }
}

@layer components {
  .btn-primary {
    @apply flex items-center justify-center gap-2 px-2 py-2 rounded-lg font-semibold shadow-md;
    @apply bg-primary text-white;
    @apply transition-all duration-200;
    @apply hover:brightness-90 hover:shadow-lg;
    @apply active:scale-95;
    @apply disabled:opacity-50 disabled:pointer-events-none cursor-pointer;
  }
}
